@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Serif TC', serif;
	color: rgb(239, 239, 241);
    background-color:rgb(14, 14, 16);
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(239, 239, 241);
    background-color:rgb(14, 14, 16);
    font-family: 'Noto Serif TC', serif;
}
nav h1{
    color: rgb(239, 239, 241);
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
nav .onglets{
    margin-top: 3px;
    margin-left: 300px;
}
nav .onglets a{
    text-decoration: none;
    color: rgb(239, 239, 241);
    margin-right: 10px;
    border-bottom: 1px solid rgb(239, 239, 241);
    padding-bottom: 1px;
    font-size: 15px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: url('images/yannisssoleil.jpg');
    background-size: cover;
    opacity: 0.9;
    color: white;
    padding: 40px;
}
header h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    color:white;
}
header h4{
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Noto Serif TC', serif;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid rgb(220, 95, 0);
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 20px;
	transition: 0.3s ease;
	transition-property: background-color, color;
    cursor: pointer;
}
.cta:hover {
	color: white;
	background-color: rgb(220, 95, 0);
}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(14, 14, 16);
}
.main .content .about{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main .content .about .left{
   flex: 0 0 30%;
   padding: 20px;
   color:rgb(239, 239, 241);
}
 .main .content .about.right{
	flex: 0 0 70%;
 }
.main .content .about .right img{
    height: 531px;
    width: 474px;
    margin-top: 5px;
}

.main1{
    margin-top: 20px;
    display: block;
    flex-direction: column;
    align-items: center;
    background-color:rgb(14, 14, 16);
}
.main1 .content1 .comp{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
	flex-direction: column;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	margin-top: 100x;
	padding: 30px 100px;
}
.main1 .content1 .competences-top{
	max-width: 500px;
	margin: 0 auto;
}
.main1 .content1 .competences-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
.main1 .content1 .competences-bottom .competences-item {
	flex-basis: 80%;
    max-width: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-image: url(images/yannisssoleil.jpg);
	background-size: cover;
	margin: 5px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.main1 .content1 .competences-bottom .competences-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.6;
	z-index: -1;
}
.main1 .content1 .competences-bottom .competences-item .icon img{
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
.main1 .content1 .competences-item h2 {
	font-size: 1.5rem;
	color: white;
	margin-bottom: 10px;
	text-align: start;
	text-transform: uppercase;
}
.main1 .content1 .competences-item p {
	color: white;
	text-align: left;
    max-width: 300px;
}

.main2{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(14, 14, 16);
}
.main2 .content2 .portfolio{
    display: block;
    flex-wrap: wrap;
    justify-content: center;
	flex-direction: column;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 100x;
	padding: 30px 100px;
}
.main2 .content2 .portfolio1{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main2 .content2 .portfolio h1{
	margin-bottom: 50px;
    align-items: center;
}
.main2 .content2 .portfolio .left{
   flex: 0 0 70%;
   padding: 10px;
   color:rgb(255, 255, 255);
   background-color:rgb(14, 14, 16);
}
.main2 .content2 .portfolio .right{
   flex: 0 0 70%;
   padding: 10px;
}
.main2 .content2 .portfolio .right img{
	height: 400px;
    width: 600px;
    margin-top: 5px;
    flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
.main2 .content2 .portfolio2{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0px;
}





.main2 .ytb{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb1{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb1::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb2{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb2::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb3{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb3::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb4{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb4::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb5{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb5::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}

.main2 .ytb6{
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;  
	justify-content: center;
    padding: 0px;
	margin: 0px;
    margin-top: 0px;
	width: 80%;
	position: relative;
}
.main2 .ytb6::after{
	content: "";
	display: block;
	width: 100%;
	padding-bottom: calc(315/560*100%);
}
iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}



footer{
	margin-top: 40px;
	background-color:rgb(14, 14, 16);
    color: #fff;
    padding: 30px 100px;;
	font-size: 18px;
}
footer #contact{
    color: rgb(181, 181, 181);
}
@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .main .content .about .right img{
        height:390px;
        width: 330px;
        margin-top: -0px;
		margin: 10px;
    }
	.main .content .about {
        display: block;
    }
	.main1 .content1 .comp {
        margin: 10px;
		flex-basis: 45%;
		margin: 2.5%;
	}
    .main1 .content1 .competences-bottom {
        margin: 10px;
		flex-basis: 45%;
		margin: 2.5%;
    }
	.main2 .content2 {
		display: block;
    }

	.main2 .content2 .portfolio .right img{
        height:200px;
        width:310px;
        margin-top: -0px;
    }
    footer{
        padding: 30px;
    }
}